/****************begin !HEADER! ******************/
.header {
    background: #5b483a;
    padding-top: 30px;
    padding-bottom: 90px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    text-decoration: none;
}

.header_logo_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #f1cdb3;
    margin: 0;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

.header_logo_title:hover {
    color: #fff;
}

.header_logo_subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #ffffff;
    margin: 0;
    padding-left: 4px;
}

.header_navigation {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    padding-bottom: 8px;
}

.header_navigation li {
    margin-left: 35px;
}

.header_navigation>li>a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

li .active,
li .inactive 
{
    text-decoration: none;
    padding-bottom: 3px;
}

li .inactive {
    position: relative;
    color: #cdcdcd;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease 0s;
}

li .active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
    pointer-events: none;
}

li .inactive:active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
}

li .inactive:hover {
    color: #fafafa;
}
/****************end !HEADER! ******************/

/****************begin !start-screen! ******************/
.start-screen{
    background: #5b483a;
}

.start-screen_wrapper {
    display: flex;
    justify-content: space-between;
}

.start-screen_content_text {
    width: 38.3%;
    margin-top: 163px;
    margin-right: 42px;
}

.start-screen_content_image {
    width: 58%;
    height: 728px;
}

.start-screen ._img {
    width: 100%;
}

.start-screen ._h2 {
    color: #ffffff;
    margin: 0;
    margin-bottom: 42px;
}

.start-screen ._p {
    color: #cdcdcd;
    margin: 0;
    margin-bottom: 42px;
}

.start-screen ._btn {
    background-color: #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.start-screen ._btn:hover {
    background-color: #fddcc4;
}

/****************end !start-screen! ******************/
/****************begin !start-screen! ******************/
.about {
    background: #ffffff;
}

.about_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	padding-top: 80px;
	margin-bottom: 100px;
}
