/****************begin !HEADER! ******************/
.header {
    background: #5b483a;
    padding-top: 30px;
    padding-bottom: 90px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    text-decoration: none;
}

.header_logo_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #f1cdb3;
    margin: 0;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

.header_logo_title:hover {
    color: #fff;
    transition: all 0.5s ease;
}

.header_logo_subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #ffffff;
    margin: 0;
    padding-left: 4px;
}

.header_navigation {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    padding-bottom: 8px;
}

.header_navigation li {
    margin-left: 35px;
}

.header_navigation>li>a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

li .active,
li .inactive 
{
    text-decoration: none;
    padding-bottom: 3px;
}

li .inactive {
    position: relative;
    color: #cdcdcd;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease 0s;
}

li .active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
    pointer-events: none;
}

li .inactive:active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
}

li .inactive:hover {
    color: #fafafa;
    transition: all 0.5s ease;
}
/****************end !HEADER! ******************/

/****************begin !start-screen! ******************/
.start-screen{
    background: #5b483a;
}

.start-screen_wrapper {
    display: flex;
    justify-content: space-between;
}

.start-screen_content_text {
    width: 38.3%;
    margin-top: 163px;
    margin-right: 42px;
}

.start-screen_content_image {
    width: 58%;
    height: 728px;
}

.start-screen .h2 {
    color: #ffffff;
    margin: 0;
    margin-bottom: 42px;
}

.start-screen .p {
    color: #cdcdcd;
    margin: 0;
    margin-bottom: 42px;
}

/****************end !start-screen! ******************/
/****************begin !about! ******************/
.about {
    background: #ffffff;
}

.about_wrapper {
    margin: 0 auto;
    padding: 80px 40px 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about_content_image {
    max-width: 300px;
    height: 408px;
}

.about_content_text {
    max-width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about .h3 {
    color: #545454;
    display: flex;
    align-items: center;
}

.about .p {
    color: #4c4c4c;
}

/****************end !about! ******************/
/****************begin !pets! ******************/
.pets {
    background: #F6F6F6;
    text-align: center;
//    padding: 0px 0px 100px 0px;
}

.pets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    padding: 80px 0 100px;
    gap: 60px;
}

.pets .btn_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #F6F6F6;
}

.pets .btn_arrow:hover {
    background-color: #f1cdb3;
    transition: all 0.5s ease;
}

.pets .h3{
    width: 33.3%;
    color: #545454;
    text-align: center;
}

.pets_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 62px;
}

.pets .arrow_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #F6F6F6;
}

.pets .arrow_btn:hover {
    background-color: #FDDCC4;
    transition: all 0.5s ease;
}

.pets_slider_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.pets .slider_card {
    width: 25.5%;
    height: 435px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s;
    cursor: pointer;
}

.pets .slider_card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.pets .slider_img {
    margin-bottom: 30px;
}

.pets .slider_name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.pets .slider_btn {
    width: 187px;
    height: 52px;
    background-color: #ffffff;
    border: 2px solid #f1cdb3;
    border-radius: 30px;
    color: #292929;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.pets .slider_btn:hover {
    background-color: #f1cdb3;
    transition: all 0.5s ease;
}
