.header_wrapper,
.start-screen_wrapper,
.about_wrapper,
.pets_wrapper,
.help_wrapper,
.donation_wrapper,
.footer_wrapper
{
    max-width: 1200px;
    margin: auto;
}
/* !HEADER! */
.header {
    background: #5b483a;
    padding-top: 30px;
    padding-bottom: 90px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    text-decoration: none;
}

.header_logo_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #f1cdb3;
    margin: 0;
    margin-bottom: 10px;
}

.header_logo_subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #ffffff;
    margin: 0;
    padding-left: 4px;
}

.header_navigation {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    padding-bottom: 8px;
}

.header_navigation li {
    margin-left: 35px;
}

.header_navigation>li>a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

li .active,
li .inactive 
{
    text-decoration: none;
    padding-bottom: 3px;
}

li .inactive {
    position: relative;
    color: #cdcdcd;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease 0s;
}

li .active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
    pointer-events: none;
}

li .inactive:active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
}

li .inactive:hover {
    color: #fafafa;
}


