/* arial */

@font-face {
    font-family: 'Arial';
    src: url('./arial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('./arial-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* Georgia */
@font-face {
    font-family: 'Georgia';
    src: url('./georgia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('./georgia-bold.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('./georgia-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

